# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.synctex.gz
*.fls
*.fdb_latexmk
*.dvi
*.ps
*.pdfsync
*.run.xml
*.lot
*.lof
*.idx
*.ind
*.ilg
*.glg
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg
*.thm
*.maf
*.mtc
*.mtc0
*.nav
*.snm
*.vrb
*.pyg
*.fot
*.fmt
*.cb
*.cb2
*.lb
*.bcf
*.xml
*.ent
*.lol
*.lot
*.out.ps
*.out.pdf
